.back-arrow{
  background-color: transparent;
  border:none
}
.back-arrow-symbol{
  padding: 5px;
  font-size: 30px;
  background-color: rgb(242, 241, 241);
  border-radius: 50%;
  margin: 10px;
}
.logo-container{
  display: flex;
  justify-content: center;
}
.otp-container{
  /* container d-flex flex-column align-items-center */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.inputStyle {
  width: 2.5rem;
  height: 3rem;
  margin: 0 0.3rem;
  font-size: 2rem;
  border: 1px solid rgba(101, 101, 101, 0.3);
}

.opt-btn{
  border-radius: 1rem;
  margin-top: 10px;
  font-size: 20px;
  background-color: var(--primary-btn-color);
  width: 100px;
  color: white;
  cursor: pointer;
}
.opt-btn:disabled{
  background-color: gray;
}

.enter-email-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.enter-password-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.otp-input{
  width: 200px;
  border: none;
  outline: 1px solid var(--primary-color);
  padding: 2px;
  height: 30px;
  border-radius: 1rem;
  padding-left: 10px;
}
.otp-input:focus{
  outline: 2px solid var( --primary-color);
}

.otp-text-info{
  padding-top:20px;
  text-align:center;
}
.require-otp-password{
  font-size: 11px;
  color: red;
  text-align: center;
}
  @media (max-width:600px) {
    .inputStyle {
      width: 1.5rem;
      height: 2rem;
      margin: 0 0.1rem; 
      font-size: 1rem;
    }
    .otp-text-info{
      padding: 10px 20px 0;
    }
    .otp-container{
      gap: 10px;
    }
    
  }