.back-arrow{
  background-color: transparent;
  border:none
}
.back-arrow-symbol{
  padding: 10px;
  font-size: 30px;
  background-color: rgb(242, 241, 241);
  border-radius: 50%;
  margin: 20px;
}
.logo-container{
  display: flex;
  justify-content: center;
}
.otp-container{
  /* container d-flex flex-column align-items-center */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.inputStyle {
  width: 2.5rem;
  height: 3rem;
  margin: 0 0.3rem;
  font-size: 2rem;
  border: 1px solid rgba(101, 101, 101, 0.3);
}
@media (max-width:600px) {
  .inputStyle {
    width: 1.5rem;
    height: 2rem;
    margin: 0 0.1rem; 
    font-size: 1rem;
  }
}
.otp-text{
  margin-top: 25px;
}
.opt-btn{
  border-radius: 1rem;
  margin-top: 10px;
  font-size: 20px;
  background-color: var(--primary-btn-color);
  width: 100px;
  color: white;
}
.opt-btn:disabled{
  background-color: gray;
}

.enter-email-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.enter-password-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.otp-input{
  width: 200px;
  border: none;
  outline: 1px solid var(--primary-color);
  padding: 2px;
  height: 30px;
  border-radius: 1rem;
  padding-left: 10px;
}
.otp-input:focus{
  outline: 2px solid var( --primary-color);
}