.back-arrow{
  background-color: transparent;
  border:none
}
.back-arrow-symbol{
  padding: 5px;
  font-size: 30px;
  background-color: rgb(242, 241, 241);
  border-radius: 50%;
  margin: 10px;
}
.logo-container{
  display: flex;
  justify-content: center;
}
.otp-container{
  /* container d-flex flex-column align-items-center */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.inputStyle {
  width: 2.5rem;
  height: 3rem;
  margin: 0 0.3rem;
  font-size: 2rem;
  border: 1px solid rgba(101, 101, 101, 0.3);
}

.otp-btn{
  border: black;
  padding: 7px 0;
  font-size: 20px;
  background-color: black;
  width: 164px;
  color: white;
  cursor: pointer;
}

.otp-btn-done{
  border: black;
  padding: 7px 0;
  font-size: 20px;
  background-color: black;
  width: 464px;
  color: white;
  cursor: pointer;
}
.otp-btn-email{
  border: black;
  padding: 7px 0;
  font-size: 20px;
  background-color: black;
  width: 464px;
  color: white;
  cursor: pointer;
}

.otp-btn:disabled{
  background-color: gray;
}

.enter-email-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.enter-password-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.otp-input{
  width: 200px;
  border: none;
  outline: 1px solid var(--primary-color);
  padding: 2px;
  height: 35px;
  border-radius: 1rem;
  padding-left: 10px;
}
.otp-input:focus{
  outline: 2px solid var( --primary-color);
}

.otp-text-info{
  padding-top:20px;
  text-align:center;
}
.require-otp{
  font-size: 11px;
  color: red;
  text-align: center;
}
.opt-text-margin{
  margin-bottom: 15px;
}
@media (max-width:400px) {
  .otp-btn-done{
    width: 90vw;
  }
  .otp-btn-email{
    width: 90vw;
  }
}
  @media (max-width:600px) {
    .otp-text-info{
      padding: 10px 20px 0;
    }
    .otp-text{
      text-align: center;
      font-size: 14px;
    }
    .otp-container{
      gap: 10px;
    }
  }