.back-arrow{
  background-color: transparent;
  border:none
}
.back-arrow-symbol{
  padding: 5px;
  font-size: 30px;
  background-color: rgb(242, 241, 241);
  border-radius: 50%;
  margin: 10px;
}
.logo-container{
  display: flex;
  justify-content: center;
}

.sign-btn{
  border-radius: 1rem;
  border: black;
  margin-top: 10px;
  font-size: 20px;
  background-color: var(--primary-btn-color);
  width: 264px;
  color: white;
  cursor: pointer;
}

.sign-input{
  width: 250px;
  border: none;
  outline: 1px solid var(--primary-color);
  padding: 2px;
  height: 30px;
  border-radius: 1rem;
  padding-left: 10px;
  margin-bottom: 20px
}
.sign-input:focus{
  outline: 3px solid var(--primary-color);
}
.sign-countries{
  width: 262px;
  border: none;
  outline: 1px solid var(--primary-color);
  padding: 2px;
  height: 34px;
  border-radius: 1rem;
  padding-left: 10px;
  margin-bottom: 20px
}
.signup-ask{
  font-weight: 500;
  text-align: center;
  color: #918F8F;
  margin-top: 20px;
}
.signup-ask-link{
  padding-left: 5px;
  text-decoration: underline;
  color: black;
  font-weight: 800;
}

.remember-form{
  font-size: 12px;
  display: flex;
  align-items: center;
}
.remember-form input[type=checkbox] {
  margin-right: 9px;
  font-size: 12px;
}
.options-container{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.forget-pass{
  text-decoration: underline;
  color: black;
  font-weight: 800;
  font-size: 12px;
}

.require-sign{
  font-size: 10px;
  color: red;
  text-align: center;
  padding-bottom: 20px;
}

.sign-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 120px;
}
