.video-card{
  background-color: #F8F5F5;
  border: 1px solid #F8F5F5;
  border-radius: 16px;
  width: 343px;
  height: 325px;
  /* padding: 20px 22px 0; */
  position:relative;
}

.video-card-img{
  width: 55px;
  height: 55px;
  background-color: #ccc;
  border-radius: 50%;
}

.video-card-top{
  display: flex;
  justify-content: space-between;
  padding-bottom: 9px;
  width: calc(100% - 40px);
  padding: 20px;
  position: absolute;
  z-index: 9;
}
.video-card-bottom{
  position:absolute;
  bottom:0;
}



.video-card-interact{
  border: 1px solid #ccc;
  border-radius: 22px;
  width: 33px;
  height: 82px;
}
.video-card-container{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin:auto;    
  position: relative;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  background-color:rgb(8, 8, 8);
  overflow:hidden;
  
}
.video-card-container:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(transparent,transparent,transparent,#00000087) bottom,linear-gradient(#000000a3,transparent,transparent,transparent) top;
  }
.video-card-video{
  width: 60px;
  height: 60px;
  margin: auto;
  margin-bottom: 20px;
}

.video-card-category{
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.video-card-date{
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.video-card-description{
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  
}

.video-card-user{
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

/* .home-container{
  max-width: 1800px;
  width:98%;
  height: auto;
  margin:auto;
  padding-bottom: 12%;
  background-color: var(--base-color);
  overflow: hidden;
  margin-top: 120px;
}

@media only screen and (max-width: 880px) {
  .home-container{
  width:95%;
  height: auto;
  margin:auto;
  margin-top: 120px;
  padding-bottom: 25%;
  background-color: var(--angel-color);
  overflow: hidden;
}
  } */


  .home-container{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 150px 50px;
}
@media (max-width:1800px) {
    .home-container{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}
@media (max-width:990px) {
    .home-container{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

    }
}
@media (max-width:700px) {
    .home-container{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

    }
}
@media (max-width:470px) {
    .home-container{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
      margin: 150px auto;
    }
}