.video-card{
  background-color: #F8F5F5;
  border: 1px solid #F8F5F5;
  border-radius: 16px;
  width: 343px;
  height: 325px;
  margin: auto;
  position:relative;
}

.video-card-img{
  width: 55px;
  height: 55px;
  background-color: #ccc;
  border-radius: 50%;
}

.video-card-top{
  display: flex;
  justify-content: space-between;
  padding-bottom: 9px;
  width: calc(100% - 40px);
  padding: 20px;
  position: absolute;
  z-index: 9;
}
.video-card-bottom{
  position:absolute;
  bottom:5px;
  left: 10px;
  right: 10px;
  color: white;
}



.video-card-interact{
  border: 1px solid #ccc;
  border-radius: 22px;
  width: 33px;
  height: 100px;
}
.video-card-container{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin:auto;    
  position: relative;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  background-color:rgb(8, 8, 8);
  overflow:hidden;
  
}
.video-card-container:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(transparent,transparent,#00000087) bottom,linear-gradient(#000000a3,transparent,transparent,transparent) top;
  }
.video-card-video{
  width: 60px;
  height: 60px;
  margin: auto;
  margin-bottom: 20px;
}

.video-card-category{
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.video-card-date{
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.video-card-description{
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  width: 320px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
}

.video-card-user{
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.video-card-info{
  text-align:center;
  font-size: 12px;
}