.video-post-container{
    width:70%;
    height:auto;
    margin:auto;
    margin-top:120px;
    text-align: center;
}
.btn-file {
    position: relative;
    overflow: hidden;
    z-index: 0;
    border: none;
    background-color: transparent;
    padding: 10px 0;
    cursor: pointer;
    margin: auto;
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}
.keywords-input{
    display: block;
    width:310px;
    margin-top:22px;
    border: none;
    outline: 1px solid var(--primary-color);
    padding: 2px;
    padding-left: 10px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;

}

.keywords-input:focus{
    outline: 2px solid var( --primary-color);
}
.keyword-text{
    text-align: center;
    font-size: 11px;
    padding: 7px 0;
}

.upload-btn{
    border: black;
    font-size: 20px;
    background-color: var(--primary-btn-color);
    width: 264px;
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    font-weight: normal;
}
@media only screen and (max-width: 800px) {
    .video-post-container{
        width:99%;
        height:auto;
        margin:auto;
        margin-top:150px;
        text-align: center;
    }
}